h1{
    font-family: 'Trebuchet MS';
    font-size: 45px;
    color: black;
}

h3{
    font-family: 'Trebuchet MS';
    font-size: 50px;
    color: black;
}

html{
    min-height: 100%;
}

h2{
    font-family: 'Trebuchet MS';
    font-size: 35px;
    color: black;
}

a{
    font-family: sans-serif;
    font-size: 30px;
    color: black;
}

.boxed{
    border-radius: 50px;
    font-family: 'Trebuchet MS';
    box-shadow: 10px 10px 10px black;
    font-size: 30px;
    background: linear-gradient(pink, orange);
    height: fit-content;
    width: 750px;
    padding: 0px;
    margin: auto;
}

.boxed2{
    border-radius: 50px;
    font-family: 'Trebuchet MS';
    font-size: 30px;
    box-shadow: 10px 10px 10px black;
    background: linear-gradient(pink, orange);
    width: 750px;
    margin: auto;
}

.boxed3{
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 30px;
    background: linear-gradient(pink, orange);
    box-shadow: 10px 10px 10px black;
    width: 500px;
    margin: auto;
}

.boxed4{
    border-radius: 50px;
    background: linear-gradient(pink, orange);
    box-shadow: 10px 10px 10px black;
    width: 850px;
    margin: auto;
}